<div class="container">
    <div class="row">
        <div class="col-xs-12">
        <div class="status">
            <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Testing speed ...
        </div>
        </div>
        <h2>Internet Speed Log:</h2> 
        {{#if logs}}
        <div class="row">
            <div class="col-xs-12">
                <div class="tableHolder">
                    <table class="table table-striped" id="speedResult">
                        <thead>
                            <tr>
                                <th>
                                    Ping
                                </th>
                                <th>
                                    Download
                                </th>
                                <th>
                                    Upload
                                </th>
                                <th>
                                    Date
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            {{#each logs}}
                            <tr>
                                <td>{{ping}}</td>
                                <td>{{download}} Mb/s</td>
                                <td>{{upload}} Mb/s</td>
                                <td>{{prettyDate date}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-12">
                <div id="lineChart"></div>

            </div>
        </div>
        <textarea class="data" rows="8" cols="80" style="display:none">{{json}}</textarea> {{else}}
        <p>There are no meassures yet. Please come back in a while.</p>
        {{/if}}

    </div>
</div>
<script src="/js/socketio.js"></script>
<script src="/js/home.js"></script>
